#{extends 'CRUD/layout.html' /}
#{set title:messages.get('crud.show.title', type.modelName) /}

<script src="@{'/public/javascripts/crud/projects.js'}"></script>

<div id="crudShow" class="${type.name}">

    <h2 id="crudShowTitle">&{'crud.show.title', type.modelName}</h2>

    <div class="objectForm">
    #{form @save(object._key()), enctype:'multipart/form-data'}
        #{crud.form}
        
            #{crud.custom 'releases'}
                <h3>Releases</h3>
            	<table id="release-list">
            		<thead>
            			<tr>
            				<th class="date">date</th>
            				<th>name</th>
            				<th class="checkbox">published</th>
            				<th class="checkbox">archived</th>
            			</tr>
            		</thead>
            		<tbody>
		            	#{list items:releases, as:'release'}
		            		#{if release.isPublished}	            				
		         				#{if release.isArchived}
		         					#{set state:'archived' /}
		         				#{/if}
		         				#{else}
		         					#{set state:'published' /}
		         				#{/else}
	        				#{/if}
	        				#{else}
	        					#{set state:'planned' /}
	        				#{/else}
		            				
		            		<tr class="${state}">
		            			<td class="date">${release.date.format('dd/MM/yyyy HH:mm')}</td> 
		            			<td class="name">
		            				#{a @cruds.Releases.show(release.id)}
		            					${release.name}
	            					#{/a}		            			
		            			</td>
		            			
		            			#{if release.isPublished}	            				
			         				#{if release.isArchived}  			         					         				
			        					<td class="checkbox"><input type="checkbox" name="publish-${release.id}" disabled="disabled"  checked="checked"/></td>
			        					<td class="checkbox"><input type="checkbox" name="archive-${release.id}" checked="checked" /></td>
			         				#{/if}
			        				#{else}	 
			        					<td class="checkbox"><input type="checkbox" name="publish-${release.id}" disabled="disabled" checked="checked" /></td>
			        					<td class="checkbox"><input type="checkbox" name="archive-${release.id}" /></td>
			        				#{/else}	
		        				#{/if}
		        				#{else}		   
		        					<td class="checkbox"><input type="checkbox" name="publish-${release.id}" /></td>
		        					<td class="checkbox"><input type="checkbox" name="archive-${release.id}" disabled="disabled" /></td>
		        				#{/else}        				
		            		</tr>
		            	#{/list}
	            	</tbody>
            	</table>
            #{/crud.custom}
            
            #{crud.custom 'attachedRoles'}
                <h3>Users roles</h3>
                
                <h4>Current attached users</h4>
                <ul id="users-role-list">
                #{list items:object.attachedRoles, as:'role'}
                    <li>
                        #{gravatar.img role.user.email, size:24, default:'identicon' /}
                        <select name="role-${role.user.id}">   
                            <option value="-1">Remove from this project</option>                         
                            #{list items:models.RoleType.findAll(), as:'roleType'}
                                #{if (roleType.id == role.role.id)}
                                    <option value="${roleType.id}" selected="selected">${roleType.name}</option>
                                #{/if}
                                #{else}
                                    <option value="${roleType.id}">${roleType.name}</option>
                                #{/else}
                            #{/list}
                        </select>
                        <span>${role.user.username}</span>
                    </li>
	        #{/list}
                </ul>
                
                <h4>New user</h4>
                <p>Select a new user to add to this project...</p>
                <select name="new-user-id" id="new-user-id">   
                    <option value="-1">none</option>                         
                    #{list items:usersNotInProjet, as:'user'}
                        <option value="${user.id}">${user.toString()}</option>
                    #{/list}
                </select>
                <select name="new-user-role-id" id="new-user-role-id">                         
                    #{list items:models.RoleType.findAll(), as:'roleType'}
                        <option value="${roleType.id}">${roleType.name}</option>
                    #{/list}
                </select>
                
            #{/crud.custom}
    
        #{/crud.form}
        
        <p class="crudButtons">
            <input type="submit" name="_save" value="&{'crud.save', type.modelName}" />
            <input type="submit" name="_saveAndContinue" value="&{'crud.saveAndContinue', type.modelName}" />
        </p>
    #{/form}
    </div>

    #{form @delete(object._key())}
        <p class="crudDelete">
            <input type="submit" value="&{'crud.delete', type.modelName}" />
        </p>
    #{/form}

</div>