/** Administration area **/

#crud {
	margin: 0;
	padding: 0;
	font-size: 90%;
	color: #111;
}
/** Flash message **/

.crudFlash {
	padding: 5px 20px;
	border-bottom: 1px solid #ddd;
	color: #fff;
}

.flashError {
	background: #c00;
}

.flashSuccess {
	background: #54BD06;
}

/** Content **/

#crud #crudContent {
	padding: 10px 20px;
        max-width: 848px;
        margin: auto;
        text-align: left;
}

#crud #crudContent h2 {
	color: #333;
	font-weight: normal;
	margin-top: 10px;
}

/** Tables **/

#crud #crudContent table {
	width: 100%;
	border: 1px solid #ddd;
	border-top: none;
	border-collapse: collapse;
	table-layout: fixed;
}

#crud #crudContent table thead tr {
	background: #0A65AF;
        text-shadow: none;        
}

#crud #crudContent table th {
	color: #fff;
	font-weight: bold;
}

#crud #crudContent table th a {
	color: #fff;
	font-weight: bold;
        text-shadow: none;
}

#crud #crudContent table th {
	text-align: left;
	padding: 6px 5px;
}

#crud #crudContent table td {
	text-align: left;
	padding: 4px 5px;
}

#crud #crudContent table td {
	border-bottom: 1px solid #eee;
}

#crud #crudContent table tr.even {
	background: #f9f9f9;
}

#crud #crudContent table tr:last-child td {
	border-bottom: 1px solid #ddd;
}

.crudSortedAsc:after {
	content: '▼';
}

.crudSortedDesc:after {
	content: '▲';
}

/** Forms **/

form {
	margin: 0;
}

input, textarea, select {
	font-family: 'Helvetica', 'Arial', 'Sans';
	font-size: 12px;
}

textarea {
	padding: 2px;
}

.objectForm {
	border: 1px solid #ddd;
}

label {
	display: block;
	font-weight: bold;
	width: 20%;
	float: left;
	color: #666;
	cursor: pointer;
}

.sha-1-current-value,
.crudField {
	padding: 10px;
	border-bottom: 1px solid #eee;
	position: relative;
}

.sha-1-current-value {
    padding: 8px 0 0 0;
    color: #666;
    font-style: italic;
    border-bottom: none;
    font-size: 10px;
}

.crudField input[type=text],
.crudField select {
        max-width: none;
        width: initial;
        margin: 12px 0;
}

.crud_hidden {
    display: none;
}

.crudButtons {
	background: #efefef;
	text-align: right;
	margin: 0;
	padding: 10px;
}

.crudField .error {
	color: #c00;
	padding-left: 10px;
	position: absolute;
	top: 48px;
        left: 0;
	font-size: 80%;
}

.crudField .hasError {
	color: #c00;
}

.crudField select[multiple] {
	max-height: 100px;
}

.crudField .crudHelp {
	font-size: 70%;
	color: #888;
	display: block;
	margin-left: 20%;
	margin-top: 5px;
}

form .currentAttachment {
	display: block;
	font-size: 80%;
	margin-left: 20%;
	padding-top: 4px;
}

form .removeAttachment {
    display: block;
    font-size: 80%;
    margin-left: 20%;
}

/** Footer **/

#crud #crudFooter {
	font-size: 80%;
	color: #aaa;
	padding: 10px 20px;
	border-top: 1px dashed #ccc;
	border-bottom: 1px dashed #ccc;
	margin-top: 20px;
}

#crud #crudFooter a {
	color: #333;
}

#crud #users-role-list {
    list-style: none;
    margin: 8px 0;
    padding: 0;
}
#crud #users-role-list li * {
    display: inline-block;
    vertical-align: middle;
}
#crud #users-role-list li img,
#crud #users-role-list li select,
#crud select#new-user-role-id, 
#crud select#new-user-id {
    height: 24px;
}

#crud #users-role-list li select option:first-child,
#crud select#new-user-role-id option:first-child, 
#crud select#new-user-id option:first-child {
    color: #888;
}
/** Home **/

.crudNew {
	text-align: right !important;
}

/** List **/

#crudList {
	position: relative;
}

#crudListAdd a {
	margin: 0;
	position: absolute;
	top: 0;
	right: 0;
	padding: 3px 10px;
}

#crudListSearch {
	padding: 4px 5px;
	border: 1px solid #ddd;
	background: #efefef;
}

#crudListSearch form {
        text-align: right; 
        margin: 4px 2px;
}

#crudListSearch input[type=text] {
	width: 30%;
        display: inline-block;
        padding: 0;
        margin: 0;
        position: relative;
        top: 1px;
}

#crudListSearch a {
	color: #111 !important;
	font-size: 90%;
}

#crudListPagination {
	padding: 4px 5px;
	border: 1px solid #ddd;
	background: #efefef;
	border-top: 0;
	font-size: 90%;
	position: relative;
}

#crudListPagination .crudCount {
	margin: 0;
}

#crudListPagination .crudPages {
	margin: 0;
	position: absolute;
	right: 5px;
	top: 4px;
}

/** Show **/

#crudShow {
	position: relative;
}

.crudDelete input {
	margin: 0;
	position: absolute;
	top: 0;
	right: 0;
	padding: 2px 10px;
	cursor: pointer;
}