/* -------------------------- General -------------------------- */
body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    text-shadow: 1px 1px 1px #ccc;
    filter: dropshadow(color=#ccc, offx=1, offy=1);
}
header, section {
    padding: 0 12px;
}
a, a:visited, a:active {
    text-decoration: none;
    color: #444;
    text-shadow: 1px 1px 1px #fff;
    filter: dropshadow(color=#fff, offx=1, offy=1);
}
a:hover, a:focus {
    cursor: pointer;
    color: #ff9200;
}
h1, h2, h3 {
    font-family: 'Roboto Slab', serif;
    text-align: center;
}
h1 {
    color: #666;
    font-size: 1.6em;
    margin: 26px 0;
}
h2 {
    color:  #ff9200;
    font-size: 1.3em;
    margin: 20px 0;
}
h3 {
    color: #000;
    font-size: 1.1em;
    margin: 16px 0;
}
/* -------------------------- Button -------------------------- */
a.button,
.crudNew a,
.crudDelete input,
#crudListAdd a,
.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #fed897;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fed897;
	box-shadow:inset 0px 1px 0px 0px #fed897;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f6b33d), color-stop(1, #d29105) );
	background:-moz-linear-gradient( center top, #f6b33d 5%, #d29105 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6b33d', endColorstr='#d29105');
	background-color:#f6b33d;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #eda933;
	display:inline-block;
	color:#ffffff;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #cd8a15;
}
.crudNew a:hover,
.crudDelete input:hover,
#crudListAdd a:hover,
.button:hover {
	cursor: pointer;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #d29105), color-stop(1, #f6b33d) );
	background:-moz-linear-gradient( center top, #d29105 5%, #f6b33d 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d29105', endColorstr='#f6b33d');
	background-color:#d29105;
}
.crudNew a:active,
.crudDelete input:active,
#crudListAdd a:active,
.button:active {
	position:relative;
	top:1px;
}
/* -------------------------- Header -------------------------- */
header {
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */

    height: 99px;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
    
    position: fixed;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
}
header img#logo {
    height: 40px;
    width: 161px;
    margin: 8px;
}
header ul.action {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}
header ul.action li {
    list-style-image: none;
    display: inline-block;
    vertical-align: middle;
    margin: auto;
    padding: 8px;
}
header ul.action li.current-user {
    font-weight: bold;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
}
header ul.action li.current-user * {
    display: inline-block;
    vertical-align: middle;
}
header ul.action li.current-user img {
    width: 28px;
    height: 28px;
}
/* -------------------------- Forms -------------------------- */
input[type=text],
input[type=password],
textarea {
    margin: 12px auto;
	width: 94%;
	max-width: 338px;
    padding: 8px 6px;
    -webkit-border-radius: 4px;    
    border-radius: 4px;
    display: block;
    font-size:16px;
}
textarea {
	min-height: 256px;
}
label {
	margin: 20px 0 0 0;
	display: block;
}
p.error, p.success {    
    -webkit-border-radius: 6px;    
    border-radius: 6px;
    margin: 12px 0;
    padding: 12px 18px;
    text-shadow: 1px 1px 1px #fff;
    filter: dropshadow(color=#fff, offx=1, offy=1);
}
p.error {
    border: 1px solid #ac1002;
    color: #ac1002;
    background-color: #fec2bd;
}
p.success {
    border: 1px solid #10ac02;
    color: #10ac02;
    background-color: #c2febd;
}
/* -------------------------- Breadcrumb -------------------------- */
#breadcrumb, 
#breadcrumb a {
    color: #888;
    font-size: 0.8em;
    text-shadow: none;
    filter: none;
}
#breadcrumb .separator {
    font-size: 0.6em;
    color: #aaa;
}
#breadcrumb .current,
#breadcrumb a:last-child {
    font-size: 0.8em;
    color: #ffb220;
}
/* -------------------------- Main section -------------------------- */
section {
	padding: 12px;
    padding-top: 108px;
    text-align: center;
}
#login {
	width: 80%;
	margin: auto;
}
aside.qr-code {
    margin: 18px auto;
    height: 124px;
    overflow: hidden;
}
aside.qr-code img {
	margin: -24px;	
}
#release-date {
	margin: -16px 0 6px 0;
	font-style: italic;
	color: #aaa;
	font-size: 0.8em;
	display: block;
}
/* -------------------------- Projects -------------------------- */
#project-list,
#releases-list,
#planned-releases-list {
	padding : 0;
	margin: 0;
}
#project-list li,
#releases-list li,
#planned-releases-list li,
#release-files-list li {
	list-style-type: none;
	padding : 0;
	margin: 0;
	text-align: center;
}
#project-list li a,
#releases-list li a,
#planned-releases-list li a {
	list-style-type: none;
	width: 80%;
	max-width: 338px;
	margin: 6px auto;
}
#add-file-form {	
	padding : 0;
	margin: 0;
}
#add-file-form input {
	display: inline-block;
}

/* -------------------------- Project -------------------------- */
#releases-list li a .release-name,
#releases-list li a .release-date {
	display: inline-block;
	vertical-align: bottom;
}
#releases-list li a .release-name {
	float: left;
}
#releases-list li a .release-date {
	float: right;
	padding-top: 4px;
	font-size: 10px;
	font-style: italic;
	color: #eee;
}
/* -------------------------- Release -------------------------- */
#release-files-list,
#ipa-stats {	
	max-width: 338px;
	margin: 8px auto 16px auto;
	padding: 0;
	font-size: 12px;
}
#release-files-list li,
#ipa-stats li {
	list-style-type: none;
	overflow: hidden;
	text-align: right;
	margin: 4px 0;
}
#release-files-list li .filename {
	float: left;
	padding-top: 4px;
}
#release-files-list li form
{
	display: inline-block;
}
#release-files-list li a,
#release-files-list li input[type=submit] {	
	display: inline-block;
	margin: 0 2px;
	padding: 4px 6px;
}
#ipa-stats li .date {
	float: left;
	width: 50%;
	padding-top: 4px;
	text-align: left;
}
#ipa-stats li .user {
	float: right;
	width: 50%;
	padding-top: 4px;
}
#ipa-stats li .user-agent {
	padding-top: 4px;
	text-align: center;
	color: #666;
	margin-bottom: 12px;
}