#{extends 'main.html' /}
#{set title: project.name /}

<aside id="breadcrumb">    
    <a href="@{Project.index()}">Projects</a> 
    <span class="separator">></span>
    <span class="current">${project.name}</span>
</aside>

<h1>${project.name}</h1>

<h2>Last Releases</h2>
<ul id="releases-list">
#{list project.releases, as:'release'}
	#{if (release.isPublished)}
	<li>
		<a href="@{Release.show(release.id)}" class="button">${release.name}</a>
	</li>
	#{/if}
#{/list}
</ul>

<h2>Planned Releases</h2>
<ul id="planned-releases-list">
#{list project.releases, as:'release'}
	#{if (!release.isPublished)}
	<li>
		<a href="@{Release.show(release.id)}" class="button">${release.name}</a>
	</li>
	#{/if}
#{/list}
</ul>

#{if (currentUserRoleType.canAddPlannedRelease)}

	#{form @Project.newRelease(project.id)}
		<input type="text" name="releaseName" placeholder="New release name..." />
		<input type="submit" name="add-planned-release" value="Add planned release...">
	#{/form}
#{/if}