#{extends 'main.html' /}
#{set title: release.name /}

<aside id="breadcrumb">    
    <a href="@{Project.index()}">Projects</a> 
    <span class="separator">></span>
    <a href="@{Project.show(release.project.id)}">${release.project.name}</a> 
    <span class="separator">></span>
    <span class="current">${release.name}</span>
</aside>

<div class="block-right">
    #{if (deviceType == controllers.DeviceHelper.DeviceType.STANDARD)}
        <aside class="qr-code">
            <img src="http://chart.apis.google.com/chart?cht=qr&chs=177x177&chl=@@{Release.show(release.id)}" alt="qrcode for this page" />
        </aside>
    #{/if}

#{if (release.isPublished || !currentUserRoleType.canWritePlannedRelease)}
<div class="details-container">
<h1>${release.name}</h1>
<span id="release-date" class="date">${release.date.format('dd/MM/yyyy HH:mm')}</span>
</div>
<h2>Release note</h2>
<p>
    #{if (release.note)}	    
    ${release.note.nl2br()}
    #{/if}
    #{else}
    <em>no release note...</em>
    #{/else}
</p>
#{/if}
#{else}

<script src="@{'/public/javascripts/Release/show.edit.js'}"></script>

<div class="details-container">
<h1>Edition mode</h1>
<span id="release-date" class="date">Last edit : ${release.date.format('dd/MM/yyyy HH:mm')}</span>
</div>

#{form @Release.edit(release.id)}

<label for="name">Release name</label>
<input type="text" name="name" value="${release.name}" placeholder="Release name..."/>


<label for="note">Release note</label>
<textarea name="note" placeholder="Release note...">${release.note}</textarea>

<input type="submit" name="action" value="save" />
#{if (currentUserRoleType.canDeletePlannedRelease)}
<input type="submit" name="action" value="delete" />
#{/if}

#{if (currentUserRoleType.canPublishPlannedRelease)}
<input type="submit" name="action" value="publish" />
#{/if}
#{/form}

#{/else}
</div>

<div class="block-left">
<h2>Attached files</h2>
	
#{if (release.attachedFiles.isEmpty())}
    <em id="no-attached-file">There's no any file attached to this release...</em>
#{/if}
    
<ul id="release-files-list" class="uploaded-files">
    #{list release.attachedFiles, as:'file'}
    <li id="file-${file.id}">                        
   		<span class="filename">${file.name}</span>   		
   		
		#{if ((file.type == models.File.FileType.IPA) && (deviceType == controllers.DeviceHelper.DeviceType.IOS))}
			<a href="itms-services://?action=download-manifest&amp;url=${play.Play.configuration.getProperty("application.baseUrl")}@{Ipa.getIpaManifest(file.getFileTokenFor(controllers.Security.getCurrentUser()), controllers.Security.getCurrentUser().id)}" class="button stat-target">Install</a>
		#{/if}
		#{else}
			<a href="@{Release.getFile(file.id, file.name)}" class="button" target="_blank">Download</a>
		#{/else}
		
		#{if (!release.isPublished && currentUserRoleType.canWritePlannedRelease)}
                        <a class="button delete-file" id="delete-file-button-${file.id}">Delete</a>
		#{/if}	
    </li>
    #{/list}
</ul>

#{if (currentUserRoleType.canReadReleaseStats && release.isPublished)}
	<h2>Statistics</h2>
	
	#{if (release.attachedFiles.isEmpty())}
	    <em>There's no any file attached for statistics...</em>
	#{/if}
	#{else}
		#{list release.attachedFiles, as:'file'}
			<h3>${file.name}</h3>
			#{if (file.type == models.File.FileType.IPA)}
				<ul id="ipa-stats">					
					#{list file.getStatistics(), as:'stat'}
						<li>
							<span class="date">${stat.date.format('dd/MM/yyyy HH:mm')}</span>
							<span class="user">${stat.user.username}</span>
							<div class="user-agent">${stat.userAgent}</div>
						</li>
					#{/list}
				</ul>
			#{/if}
			#{else}
				<em>No statistics for this kind of file...</em>
			#{/else}
		#{/list}
	#{/else}
#{/if}

#{if (!release.isPublished && currentUserRoleType.canWritePlannedRelease)}

        <script src="@{'/public/jQuery-File-Upload/js/vendor/jquery.ui.widget.js'}"></script>
        <script src="@{'/public/jQuery-File-Upload/js/jquery.iframe-transport.js'}"></script>
        <script src="@{'/public/jQuery-File-Upload/js/jquery.fileupload.js'}"></script>
        <script>
        $(function () {
            $('#file-upload-input').fileupload({
                dataType: 'json',
                progressall: function (e, data) {
                    var progress = parseInt(data.loaded / data.total * 100, 10);
                    $('#progress .bar').css('width', progress + '%');
                },
                done: function (e, data) {
                    var wsresult = data.result;
                    if (wsresult.status === 0) {
                        $('#progress .bar').css('width', '0%');
                        $('#no-attached-file').remove();
                        var newContent = '<span class="filename">' + wsresult.data.filename + '</span>';
                        
                        #{if (deviceType == controllers.DeviceHelper.DeviceType.IOS)}
                            if (wsresult.data.filetype == 'IPA') {
                                newContent += '<a href="itms-services://?action=download-manifest&amp;url=' + wsresult.data.ipaManifestUrl + '" class="button stat-target">Install</a>';
                            } else {
                                newContent += '<a href="' + wsresult.data.url + '" class="button" target="_blank">Download</a>';                                
                            } 
                        #{/if}
                        #{else}
                            newContent += '<a href="' + wsresult.data.url + '" class="button" target="_blank">Download</a>';
                        #{/else}
                        
                        
                        #{if (!release.isPublished && currentUserRoleType.canWritePlannedRelease)}
                            newContent += '<a class="button delete-file" id="delete-file-button-' + wsresult.data.id + '">Delete</a>';
                        #{/if}
                            
                        $("#release-files-list").append('<li id="file-' + wsresult.data.id + '">' + newContent + '</li>');
                    } else {
                        alert("An error occured : [" + wsresult.status +"] " + wsresult.message);
                    }
                }
            });
        });
        </script>
        
        <div id="progress">
            <div class="bar" style="width: 0%;"></div>
        </div>
        
        <input type="file" name="file" id="file-upload-input" data-url="@{Release.addFile(release.id)}">
        
#{/if}
</div>