#{extends 'main.html' /}
#{set title: release.name /}

<aside id="breadcrumb">    
    <a href="@{Project.index()}">Projects</a> 
    <span class="separator">></span>
    <a href="@{Project.show(release.project.id)}">${release.project.name}</a> 
    <span class="separator">></span>
    <span class="current">${release.name}</span>
</aside>

#{if (release.isPublished || !currentUserRoleType.canWritePlannedRelease)}

#{if (deviceType == controllers.DeviceHelper.DeviceType.STANDARD)}
<aside class="qr-code">
    <img src="http://chart.apis.google.com/chart?cht=qr&chs=177x177&chl=@@{Release.show(release.id)}" alt="qrcode for this page" />
</aside>
#{/if}
	
<h1>${release.name}</h1>
<span id="release-date" class="date">${release.date.format('dd/MM/yyyy')}</span>

<h2>Release note</h2>
<p>
    #{if (release.note)}	    
    ${release.note}
    #{/if}
    #{else}
    <em>no release not...</em>
    #{/else}
</p>

<h2>Attached files</h2>
	
#{if (release.attachedFiles.isEmpty())}	    
    <em>There's no any file attached to this release...</em>
#{/if}
    
<ul id="release-files-list">
    #{list release.attachedFiles, as:'file'}
    <li>
	#{if ((file.type == models.File.FileType.IPA) && (deviceType == controllers.DeviceHelper.DeviceType.IOS))}
	<a href="itms-services://?action=download-manifest&amp;url=${play.Play.configuration.getProperty("application.baseUrl")}@{Ipa.getIpaManifest(file.fileCode)}" class="button">Install ${file.name}</a>
	#{/if}
	#{else}
	<a href="@{Release.getFile(file.id, file.name)}" class="button">Download ${file.name}</a>
	#{/else}
    </li>
    #{/list}
</ul>

#{/if}
#{else}

<h2>Edition mode</h2>
<span class="date">Last edit : ${release.date.format('dd/MM/yyyy')}</span>

<h3>Informations</h3>

<label for="name">Release name</label>
<input type="text" name="name" value="${release.name}" placeholder="Release name..."/>
	

<label for="note">Release note</label>
<textarea name="note" placeholder="Release note...">${release.note}</textarea>

<h3>Files</h3>
<ul>    
    #{list release.attachedFiles, as:'file'}
    <li>
	<span class="file-name">${file.name}</span>
	#{form @Release.deleteFile(file.id)}
	<input type="submit" value="delete" />
	#{/form}
    </li>
    #{/list}
</ul>

#{if (release.attachedFiles.isEmpty())}	    
	<p>
		<em>There's no any file attached to this release for now...</em>
	</p>
#{/if}
    
#{form @Release.addFile(release.id), enctype:'multipart/form-data', id:'add-file-form'}
<input type="file" name="file">
<input type="submit" name="submit" value="Upload file">
#{/form}

#{form @Release.edit(release.id)}
<input type="hidden" name="date" value="${new Date().format('yyyy-MM-dd')}" />	
	
#{if (currentUserRoleType.canDeletePlannedRelease)}
<input type="submit" name="action" value="delete" />
#{/if}

<input type="submit" name="action" value="save" />

#{if (currentUserRoleType.canPublishPlannedRelease)}
<input type="submit" name="action" value="publish" />
#{/if}
#{/form}

#{/else}
