#{extends 'main.html' /}
#{set title: release.name /}

<aside id="breadcrumb">    
    <a href="@{Project.index()}">Projects</a> 
    <span class="separator">></span>
    <a href="@{Project.show(release.project.id)}">${release.project.name}</a> 
    <span class="separator">></span>
    <span class="current">${release.name}</span>
</aside>

#{if (deviceType == controllers.DeviceHelper.DeviceType.STANDARD)}
<aside class="qr-code">
    <img src="http://chart.apis.google.com/chart?cht=qr&chs=177x177&chl=@@{Release.show(release.id)}" alt="qrcode for this page" />
</aside>
#{/if}

#{if (release.isPublished || !currentUserRoleType.canWritePlannedRelease)}
	
<h1>${release.name}</h1>
<span id="release-date" class="date">${release.date.format('dd/MM/yyyy HH:mm')}</span>

<h2>Release note</h2>
<p>
    #{if (release.note)}	    
    ${release.note}
    #{/if}
    #{else}
    <em>no release not...</em>
    #{/else}
</p>

#{if (currentUserRoleType.canReadReleaseStats)}
	<h2>Statistics</h2>
	
	#{if (release.attachedFiles.isEmpty())}
	    <em>There's no any file attached for statistics...</em>
	#{/if}
	#{else}
		#{list release.attachedFiles, as:'file'}
			<h3>${file.name}</h3>
			#{if (file.type == models.File.FileType.IPA)}
				<ul id="ipa-stats">					
					#{list file.getStatistics(), as:'stat'}
						<li>
							<span class="date">${stat.date.format('dd/MM/yyyy HH:mm')}</span>
							<span class="user">${stat.user.name}</span>
							<div class="user-agent">${stat.userAgent}</div>
						</li>
					#{/list}
				</ul>
			#{/if}
			#{else}
				<em>No statistics for this kind of file...</em>
			#{/else}
		#{/list}
	#{/else}
#{/if}

#{/if}
#{else}

<h2>Edition mode</h2>
<span class="date">Last edit : ${release.date.format('dd/MM/yyyy HH:mm')}</span>

<h3>Informations</h3>

#{form @Release.edit(release.id)}

<label for="name">Release name</label>
<input type="text" name="name" value="${release.name}" placeholder="Release name..."/>

<label for="note">Release note</label>
<textarea name="note" placeholder="Release note...">${release.note}</textarea>

#{if (currentUserRoleType.canDeletePlannedRelease)}
<input type="submit" name="action" value="delete" />
#{/if}

<input type="submit" name="action" value="save" />

#{if (currentUserRoleType.canPublishPlannedRelease)}
<input type="submit" name="action" value="publish" />
#{/if}
#{/form}

#{/else}


<h2>Attached files</h2>
	
#{if (release.attachedFiles.isEmpty())}
    <em>There's no any file attached to this release...</em>
#{/if}
    
<ul id="release-files-list" class="uploaded-files">
    #{list release.attachedFiles, as:'file'}
    <li>
   		<span class="filename">${file.name}</span>
   		
		#{if ((file.type == models.File.FileType.IPA) && (deviceType == controllers.DeviceHelper.DeviceType.IOS))}
			<a href="itms-services://?action=download-manifest&amp;url=${play.Play.configuration.getProperty("application.baseUrl")}@{Ipa.getIpaManifest(file.getFileTokenFor(controllers.Security.getCurrentUser()), controllers.Security.getCurrentUser().id)}" class="button stat-target">Install</a>
		#{/if}
		#{else}
			<a href="@{Release.getFile(file.id, file.name)}" class="button">Download</a>
		#{/else}
		
		#{if (!release.isPublished && currentUserRoleType.canWritePlannedRelease)}
			#{form @Release.deleteFile(file.id)}
	        	<input class="button" type="submit" value="delete" />
	        #{/form}
		#{/if}	
    </li>
    #{/list}
</ul>

#{if (!release.isPublished && currentUserRoleType.canWritePlannedRelease)}
	#{form @Release.addFile(release.id), enctype:'multipart/form-data', id:'add-file-form'}
		<input type="file" name="file">
		<input type="submit" name="submit" value="Upload file">
	#{/form}
#{/if}
