<!DOCTYPE html>

<html>
    <head>
        <title>Releazer - #{get 'title' /}</title>

		<meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="${_response_encoding}">
        <link rel="@{'/public/images/apple-touch-icon.png'}" href="img/icon.png"/>  
        <link rel="apple-touch-startup-image" href="@{'/public/images/apple-splashscreen.png'}" />
        <meta name="apple-mobile-web-app-capable" content="yes" />  
        
	<link href='http://fonts.googleapis.com/css?family=Noto+Sans|Roboto+Slab' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main-large.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/javascripts/jquery-1.10.1.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        #{get 'moreScripts' /}
    </head>
    <body>
	<header>
	    <a href="@{Application.index()}">
	    <img src="@{'/public/images/logo.png'}" alt="Releazer" id="logo" />
	    </a>
	    
	    <ul class="action">
	    #{if (controllers.Security.isConnected())}
		<li>
		    <a href="@{Project.index}">Projects</a>
		</li>
		<li>
		    <a href="@{Application.myAccount}">My Account</a>
		</li>
		<li>
		    <a href="@{Secure.logout}">Log out</a>
		</li>		
                
                #{if (controllers.Security.getCurrentUser().isAdmin)}
		<li>
		    <a href="@{CRUD.index}">Administration</a>
		</li>	
                #{/if}
                
		<li class="current-user">
		    <span>${controllers.Security.connected()}</span>
		    #{gravatar.img controllers.Security.getCurrentUserEmail(), size:56, default:'identicon' /}
		</li>	
	    #{/if}
	    #{else}
		<li>
		    <a href="@{Secure.login}">Log in</a>
		</li>	
	    #{/else}
	    </ul>	
	</header>
	<section>
            #{if (request.controllerClass.getSuperclass() != controllers.CRUD.class)}
                #{ifErrors}	  
                <p class="error">  
                    #{errors}
                    <li>${error}</li>
                    #{/errors}
                </p>
                #{/ifErrors}
                
                
                #{if flash.error}
                <p class="error">
                    &{flash.error}
                </p>
                #{/if}

                #{if flash.success}
                <p class="success">
                    &{flash.success}
                </p>
                #{/if}
            
            #{/if}
            #{else}
                #{if flash.success}
                    <p class="success">
                        ${flash.success}
                    </p>
                #{/if}
                #{if flash.error || error}
                    <p class="error">
                        ${error ?: flash.error}
                    </p>
                #{/if}
            #{/else}

	    #{doLayout /}
	</section>
    </body>
</html>
